div.edit-paragraph {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;

  div.sentences {
    div.sentence-info {
      margin-bottom: 2em;

      textarea {
        display: block;
        width: 100%;
        padding: 0.5em;
        border: 1px solid $stroke-color;
        &.input-code {
          height: 10em;
        }
      }

      textarea + textarea {
        margin-top: 0.5em;
      }
    }
    div.new-sentence, div.new-code {
      text-align: center;
      border: 1px solid $stroke-color;
      border-radius: 5px;
      border-style: dashed;
      padding: 0.5em;
      a {
        cursor: pointer;
        &:hover {
          font-weight: bold;
        }
      }
      &.new-code {
        margin-bottom: 1em;
      }
    }
  }

  div.buttons {
    margin-top: 2em;
    text-align: center;
    a.button {
      padding: 0.3em 2em;
      border: 1px solid $stroke-color;
      box-sizing: border-box;
      cursor: pointer;
      &:hover {
        background-color: rgba(0, 0, 0, 0.03);
      }
    }
    a.button + a.button {
      margin-left: 1em;
    }
  }
}