div.import-paragraphs {
  margin-left: auto;
  margin-right: auto;
  // width: 1024px;  

  div.row {
    margin-bottom: 2em;
  }

  div.column.source {
    display: inline-block;
    vertical-align: top;
    width: 30%;
    img.capture {
      width: 100%;
    }
    a {
      font-size: 0.8em;
      display: inline-block;
      border: 1px solid $stroke-color;
      padding: 0.5em;
      margin-right: 0.5em;
    }
  }

  div.column.result {
    display: inline-block;
    vertical-align: top;
    width: 70%;
    padding: 1em;
    font-size: 0.8em;

    textarea {
      width: 100%;
      height: 300px;
      border: 2px solid $stroke-color;
      border-radius: 0.5em;
      border-style: dashed;
      padding: 1em;
      outline: none;
      font-size: 1em;
      color: $gray-text-color;
    }

    div.preview {
      margin-bottom: 2em;
      border: 1px solid $stroke-color;
      border-radius: 0.5em;
      padding: 1em;
      width: 100%;
  
      p.paragraph {
        line-height: 1.8em;
        span.sentence:not(:first-child) {
          margin-left: 0.5em;
        }
      }
    }
  }
}