div.paragraphs {
  padding-top: 1em;
  padding-bottom: 5em;
  section.tools {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    height: 30px;
    p.tools {
      float: right;
      display: inline-block;
      border: 1px solid $stroke-color;
      border-radius: 3px;
      // padding: 0.5em;
      padding: 0.5em 1.5em;
      font-size: 0.8em;
      a:hover {
        text-decoration: underline
        
      }
    }
  }

  div.content {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;

    div.paragraph {
      line-height: 1.8em;
      &:not(:first-child) {
        margin-top: 1em;
      }

      &.mouse-over {
        background-color: $gray-bg-color;
      }

      div:not(.sentence) {
        pointer-events: none;
      }

      form.edit-sentence-comment, form.edit-paragraph-comment {
        margin: 0.5em 0;
        background-color: $gray-bg-color;
        padding: 0.5em;
        textarea {
          width: 100%;
          height: 4em;
          border: 2px solid $stroke-color;
          border-radius: 0.2em;
          border-style: dashed;
          padding: 1em;
          outline: none;
          font-size: 16px;
          color: $gray-text-color;
        }
      }

      div.sentence {
        display: inline;
        &:not(:first-child) {
          margin-left: 0.5em;
        }
        &.has-focus {
          font-size: 1.5em;
        }
        &.edit {
          display: block;
          margin-left: 0;
        }
        &.mouse-over {
          font-weight: bold;
          color: darkgoldenrod;
        }

        div.sentence-comment {
          position: absolute;
          font-size: 0.7em;
          border: 1px solid $stroke-color;
          padding: 0.2em;
          padding-left: 1em;
          padding-right: 1em;
          background-color: white;
          color: chocolate;
        }
      }

      div.sentence-comments, div.paragraph-comments {
        margin-top: 0.3em;
        color: cornflowerblue;
        &.paragraph-comments {
          color: brown;
        }
      }
    }
  }

  div.code {
    position: relative;

    pre {
      margin: 0;
    }

    code.hljs {
      margin-top: 2em;
      margin-bottom: 2em;
      border: 1px solid #d9d9d9;
      background-color: white;
      font-family: monaco;
      font-size: 0.9em;
      line-height: 1.4em;
      padding-left: 2em;
    }

    div.context-menu {
      position: absolute;
      top: 0.5em;
      right: 0.5em;
      a {
        cursor: pointer;
        &:hover {
          color: red;
        }
      }
    }
  }

}