header {
  width: 100%;
  padding: 0.5em;
  border-bottom: 1px solid $light-gray;

  nav {
    max-width: 1324px;
    margin-left: auto;
    margin-right: auto;

    ul {
      text-align: center;

      li {
        display: inline;
        margin-right: 60px;

        a {
          color: #333;
          text-decoration: none;

          &:hover {
            color: $light-blue;
            text-decoration: underline;
          }
        }
      }
    }
  }
}